<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guerilla Cat !</title>
</head>

<body onload="startTime(); startDate()">
  <h1>Welcome on Guerilla Cat !</h1>
    <div class="container">
      <div id="date">{{startDate()}}</div>
      <div id="display">{{startTime()}}</div>
      <div id="content">
        <p id="quote">{{citation}}</p>
      </div>
    </div>
</body>

</html>
