<div class="content">
  <aside>
    <conversations-list></conversations-list>
  </aside>

  <div class="center">
    <router-outlet name="authenticatedRouter"></router-outlet>
  </div>

  <aside>
    <mat-list>
      <mat-list-item>
        <img matListAvatar
             [src]="user.avatar"
             [matMenuTriggerFor]="menu">

        <h3 mat-line>{{ user.firstname }}&nbsp;{{ user.lastname }}</h3>

        <app-heartbeat></app-heartbeat>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>

    <mat-menu #menu="matMenu">
      <app-logout-button></app-logout-button>
    </mat-menu>

    <users-list-filters></users-list-filters>

    <users-list></users-list>
  </aside>
</div>
